# ===============================
# Dependencies
# ===============================
node_modules/
vendor/

# ===============================
# Environment & Secrets
# ===============================
.env
.env.*
.env.backup
.env.production
!.env.example
!.env.*.example
*.pem
auth.json

# ===============================
# Nix, Direnv & Local Services
# ===============================
.direnv/
.postgres/

# ===============================
# Laravel / PHP (Backend)
# ===============================
**/storage/*.key
**/storage/pail
**/public/hot
**/public/storage
**/public/build
.phpunit.cache/
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml

# ===============================
# Frontend Builds & Caches (Vite / React)
# ===============================
dist/
dist-ssr/
build/
.vite/
*.tsbuildinfo

# ===============================
# Logs & Debugging
# ===============================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===============================
# Testing & Coverage
# ===============================
coverage/
.nyc_output/

# ===============================
# Operating System Files (Miscellaneous)
# ===============================

.vscode/
.idea/
.fleet/
.nova/
.zed/
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
.directory
